@model IEnumerable<WorkItemAllViewModel>
@using Shared.Constants;

@{
    ViewData["Title"] = "Wrok items overview";
}
<link rel="stylesheet" href="~/css/UserStories/Index.css" asp-append-version="true" />

<script src="~/js/UserStories/Index.js" asp-append-version="true"></script>
<div class="container">
    <div class="overflow-auto">
        <h2 class="text-center">Work Items</h2>
        <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light bg-light" id="table-nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="WorkItems"
                           asp-action="Create" asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]">
                            Add +
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <table class="table table-responsive-md table-bordered table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        <div class="center-after-filter">
                            <div class="th-header">
                                <div class="th-header-title">
                                    Id
                                </div>
                                <div class="sorting">
                                    <a asp-route-sortingParams="@UserStoriesSortingConstants.IdDesc" class="sort-arrow">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                        </svg>
                                    </a>
                                    <a asp-route-sortingParams="@UserStoriesSortingConstants.IdAsc" class="sort-arrow">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-header">
                            <div class="th-header-title">
                                Title
                            </div>
                            <div class="sorting">
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.TitleDesc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.TitleAsc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-header">
                            <div class="th-header-title">
                                Type
                            </div>
                            <div class="sorting">
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.TypeDesc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.TypeAsc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-header">
                            <div class="th-header-title">
                                Story Points
                            </div>
                            <div class="sorting">
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.StoryPointsDesc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.StoryPointsAsc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-header">
                            <div class="th-header-title">
                                Priority
                            </div>
                            <div class="sorting">
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.PriorityDesc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                <a asp-route-sortingParams="@UserStoriesSortingConstants.PriorityAsc" class="sort-arrow">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var WorkItem in Model)
                {
                    <tr>
                        <td>@WorkItem.Id</td>
                        <td>@WorkItem.Title</td>
                        <td>@WorkItem.WorkItemTypeType</td>
                        <td>@WorkItem.StoryPoints</td>
                        <td>@WorkItem.BacklogPriorityPriority</td>
                        <td>
                            <a asp-action="Get" 
                               asp-route-workItemId="@WorkItem.Id" 
                               asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]" 
                               class="btn btn-sm btn-info">
                                Edit
                            </a>
                            <form method="post" style="display:inline-block;" 
                                   asp-action="Delete"
                                   asp-route-workItemId="@WorkItem.Id"
                                   asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]">
                                <button type="submit" 
                                   class="btn btn-sm btn-danger" id="delete">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
