@model ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <span style="font-size:2rem;margin-right:3rem;" class="badge badge-secondary">@Model.Name.Substring(0, 1)</span>
                <li id="project-name" class="breadcrumb-item active" aria-current="page" style="font-size:2rem;overflow:auto;">@Model.Name</li>
                <form method="post" style="margin-left:auto;">
                    <button type="submit" class="btn btn-danger btn-sm ml-auto" id="delete"
                            asp-action="Delete"
                            asp-controller="Projects"
                            asp-route-projectId="@Model.Id">
                        Delete
                    </button>
                </form>

            </ol>
        </nav>
        <hr />
        <p class="card-text"><p style="font-size:1.6rem;">About this project: </p>
        <div style="font-size:1.3rem;">
            <div id="description">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <hr />
        <div style="margin-left:auto;">
            <a class="btn btn-primary" id="edit" asp-action="Edit" asp-controller="Projects" asp-route-projectId="@Model.Id">Edit</a>
        </div>
    </div>
</div>

<div>
    <a id="addUserToProject" asp-action="AddUserToProject" asp-route-projectId="@Model.Id" class="btn btn-primary btn-sm">Add to project</a>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>
                @user.Email
            </li>
        }
    </ul>
</div>

@section Scripts{
    <script src="~/js/Projects/Get.js" asp-append-version="true"></script>
}