@model ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <span style="font-size:2rem;margin-right:3rem;" class="badge badge-secondary">@Model.Name.Substring(0, 1)</span>
                <li class="breadcrumb-item active" aria-current="page" style="font-size:2rem;">@Model.Name</li>
            </ol>
        </nav>
        <hr />
        <p class="card-text"><p style="font-size:2rem;">About this project: </p>
        <div style="font-size:1.3rem;">
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Description)
        </div>
        <hr />
        <div style="margin-left:auto;">
            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</div>