@model ICollection<SprintAllViewModel>

@{
    ViewData["Title"] = "Sprints overview";
}

<h3 class="text-center">Sprints</h3>

<link rel="stylesheet" href="~/css/Sprints/All.css" />

<div class="sprint" id="sprints-container">
    <div>
        <a class="btn btn-info"
           asp-action="Create"
           asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]">
            + Add Sprint
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Project</th>
                <th scope="col">Team</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprint in Model)
            {
                <tr class="clickable-row">
                    <th scope="row">ID..</th>
                    <td>@sprint.Name</td>
                    <td>@sprint.ProjectTitle</td>
                    <td>@sprint.ProjectTeamName</td>
                    <td>@sprint.StartDate.Date.ToString("dd/MM/yyyy")</td>
                    <td>@sprint.DueDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a id="clickable-row-1" href="https://www.google.com/">
                            google
                        </a>
                    </td>
                </tr>
            }
            <tr class="clickable-row">
                <th scope="row">1</th>
                <td>Initial</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>09.11.2020</td>
                <td>15.11.2020</td>
                <td>
                    <a id="clickable-row-1" href="https://www.google.com/">
                        google
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Some work done</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>16.11.2020</td>
                <td>22.11.2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Getting thing nice and clean</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>23.11.2020</td>
                <td>29.11.2020</td>
            </tr>
        </tbody>
    </table>
</div>