@model ICollection<SprintAllViewModel>

@{
    ViewData["Title"] = "Sprints overview";
}

<link rel="stylesheet" href="~/css/Sprints/All.css" />

<h3 class="text-center">Sprints</h3>
@if (TempData["SprintDeleteError"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["SprintDeleteError"].ToString()
    </div>
}

@if (TempData["SprintSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SprintSuccess"].ToString()
    </div>
}
<div class="sprint" id="sprints-container">
    <div>
        <a class="btn btn-info"
           asp-action="Create"
           asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]">
            + Add Sprint
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Project</th>
                <th scope="col">Team</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprint in Model)
            {
                <tr>
                    <td>@sprint.Name</td>
                    <td>@sprint.ProjectName</td>
                    <td>@sprint.ProjectTeamName</td>
                    <td>@sprint.StartDate.Date.ToString("dd/MM/yyyy")</td>
                    <td>@sprint.DueDate.ToString("dd/MM/yyyy")</td>
                    <td>@sprint.StatusStatus</td>
                    <td>
                        <form asp-action="Delete">
                           <input type="hidden" name="sprintName" asp-for="@sprint.Name"/>
                           <input type="hidden" name="projectId" value="@this.ViewContext.RouteData.Values["projectId"]"/>
                           <input type="hidden" name="sprintId" asp-for="@sprint.Id"/>
                            <button type="submit" id="delete" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>