@model UpdateUserStoriesViewModel;
@using Utilities.CalculateTimeAgo;

@{
    ViewData["Title"] = "User story Details";

    var priorities = Model.PrioritiesDropDown?
        .Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Priority });

    var commentsCounter = 0;
}

<link rel="stylesheet" href="~/css/UserStories/Get.css" asp-append-version="true" />
<script type="text/javascript" src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
<script type="text/javascript" asp-append-version="true">
    tinyMCE.init({
        selector: '#textarea-tinemce-description',
        plugins: 'image paste table link code media lists',
        toolbar: `undo redo | numlist bullist styleselect | forecolor | bold italic |
alignleft aligncenter alignright alignjustify | code`,
        themes: 'advanced',
        menubar: false,
        languages: 'en',
        height: '480',
    });
</script>
<script type="text/javascript" asp-append-version="true">
    tinyMCE.init({
        selector: '#textarea-tinemce-acceptanceCriteria',
        plugins: 'image paste table link code media lists',
        toolbar: `undo redo | numlist bullist styleselect | forecolor | bold italic |
alignleft aligncenter alignright alignjustify | code`,
        themes: 'advanced',
        menubar: false,
        languages: 'en',
        height: '380',
    });
</script>
<script type="text/javascript" asp-append-version="true">
    tinyMCE.init({
        selector: '#textarea-tinemce-comment',
        plugins: 'image paste table link code media lists',
        toolbar: `undo redo | numlist bullist styleselect | forecolor | bold italic |
alignleft aligncenter alignright alignjustify | code`,
        themes: 'advanced',
        menubar: false,
        languages: 'en',
    });
</script>
<script type="text/javascript">
    function updateInputFromSelect(fromElId, toElId) {
        var e = document.getElementById(fromElId);
        var catSelected = e.options[e.selectedIndex].text;

        document.getElementById(toElId).value = catSelected;
    }
</script>

<div>
    <form method="post" asp-action="Get">
        <div asp-validation-summary="All" class="text-danger"></div>
        <span asp-validation-for="@Model.ViewModel.StoryPoints" class="text-danger"></span>
        <input asp-for="@Model.ViewModel.Id" hidden />
        <div class="left">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Id: @Model.ViewModel.Id</span>
                </div>
                <input type="text" class="form-control" asp-for="@Model.ViewModel.Title" aria-label="Title" aria-describedby="basic-addon1">
                <button class="btn btn-light" type="submit">Save and close</button>
            </div>
            <div class="small-flex">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Story points</span>
                    </div>
                    <input type="text" class="form-control" asp-for="@Model.ViewModel.StoryPoints" aria-label="Title" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Story points</span>
                    </div>
                    <select asp-for="@Model.ViewModel.BacklogPriorityId" id="priorityInputSelect" onchange="updateInputFromSelect('priorityInputSelect', 'priorityInput');" class="form-control"
                            asp-items="priorities"></select>
                    <span asp-validation-for="@Model.ViewModel.BacklogPriorityPriority" class="text-danger"></span>
                </div>
            </div>
            <hr />

            <p class="text-info">Description</p>
            <textarea asp-for="@Model.ViewModel.Description" id="textarea-tinemce-description"> </textarea>
            <hr />

            <p class="text-info">Acceptance criteria</p>
            <textarea asp-for="@Model.ViewModel.AcceptanceCriteria" id="textarea-tinemce-acceptanceCriteria"></textarea>
            <span asp-validation-for="@Model.ViewModel.AcceptanceCriteria" class="text-danger"></span>

            <hr>
            <p class="text-info">Discussion</p>
            <p>Add comment</p>
            <textarea id="textarea-tinemce-comment" asp-for="Comment.Description"></textarea>
            <hr />
        </div>

        <div class="comments">
            @foreach (var comment in Model.ViewModel.Comments.OrderByDescending(x => x.AddedOn))
            {
                <div class="comment-header">
                    <div class="comment-header-text">
                        <div class="comment-header-details">
                            <p class="header-details-name">
                                @comment.AddedByEmail
                            </p>
                            <p class="header-detials-datestamp">
                                @CalculateTimeAgo.Calculate(comment.ModifedOn ?? comment.AddedOn)
                            </p>
                        </div>

                        <div class="comment-header-buttons dropdown">
                            <a onclick="myFunction(@commentsCounter)" class="dropbtn">
                                <svg width="1.2rem" height="1.2rem" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </a>
                            <div id="myDropdown-@commentsCounter" class="dropdown-content">
                                <a asp-action="Edit" asp-controller="Comments"
                                   asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]"
                                   asp-route-userStoryId="@comment.UserStoryId"
                                   asp-route-commentId="@comment.Id">
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-controller="Comments"
                                   asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]"
                                   asp-route-userStoryId="@comment.UserStoryId"
                                   asp-route-commentId="@comment.Id"
                                   id="del">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-content">
                        @Html.Raw(@comment.SanitizedDescription)
                    </div>
                </div>
                <p hidden>
                    @(commentsCounter+= 1)
                </p>
            }
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/UserStories/Get.js" asp-append-version="true"></script>
}